.main-container {
	position: relative;
	top: 70px;
	text-align: center;
}

table {
	position: relative;
	left: 50px;
	top: 75px;
	table-layout: fixed;
	width: calc(100% - 100px);
	text-align: center;
	border-spacing: 0.5rem;
	font-size: 12px;
}

th {
	background-color: #E6E2EB;
}

td, th {
	height: 40px; /* height works as min-height on tables */
	text-align: center;
	border: 1px solid #999;
	padding: 0.5rem;
	overflow: hidden;
	cursor: default;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

td:hover {
	background-color: #E6E2EB;
}
